<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Final</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</head>
<body>

	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<a class="navbar-brand" href="/main">Final</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="justify-content-between collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">

						<li class="nav-item"><a class="nav-link" href="/playgroundSave">야구장등록</a></li>
						<li class="nav-item"><a class="nav-link" href="/teamSave">팀 등록</a></li>
						<li class="nav-item"><a class="nav-link" href="/playerSave">선수등록</a></li>
						<li class="nav-item"><a class="nav-link" href="/playerListO">퇴출선수등록</a></li>
						<li class="nav-item"><a class="nav-link" href="/playgroundList">야구장목록</a></li>
						<li class="nav-item"><a class="nav-link" href="/teamList">야구팀목록</a></li>
						<li class="nav-item"><a class="nav-link" href="/playerList">선수목록</a></li>
						<li class="nav-item"><a class="nav-link" href="/playerPosition">포지션별 선수목록</a></li>
						<li class="nav-item"><a class="nav-link" href="/teamPlayerOut">팀별 선수목록</a></li>
			</ul>
	
		</div>
	</nav>
	<br>