<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="layout/header"></th:block>
	<div class="container">

		<br /> <br /> <br />
		<h2>선수 목록 보기 및 퇴출 페이지 </h2>
		<br /> <br />
		<div class="col-md-9">
			<table class="table table-list-search">
				<thead>
					<tr>
						<th>No</th>
						<th>팀 이름</th>
						<th>선수 이름</th>
						<th>선수 포지션</th>
					</tr>
				</thead>
				<tbody class="player-list" >
					<tr th:each="playerList : ${playerLists}">
						<td th:text="${playerList.no}"></td>
						<td th:text="${playerList.teamName}"></td>
						<td th:text="${playerList.playerName}"></td>
						<td th:text="${playerList.position}"></td>
						<td><button class="btn btn-success" th:onclick="playerOutProc([[${playerList.id}]])">퇴출</button></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
	<script src="/js/player.js"></script>
<br/><br/><br/>
<th:block th:replace="layout/footer"></th:block>