<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="layout/header"></th:block>
	<div class="container">

		<br /> <br /> <br />
		<h2>야구장 목록 보기 및 삭제 페이지</h2>
		<br /> <br />
		<div class="col-md-9">
			<table class="table table-list-search">
				<thead>
					<tr>
						<th>No</th>
						<th>경기장 이름</th>
						<th>등록 시간</th>
					</tr>
				</thead>
				<tbody class="playground-list" >
					<tr th:each="playground : ${playgrounds}">
						<td th:text="${playground.no}"></td>
						<td th:text="${playground.groundName}"></td>
						<td th:text="${playground.create_date}"></td>
						<td><button class="btn btn-success" th:onclick="playGroundDelete([[${playground.id}]])">삭제</button></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
	<script src="/js/playGround.js"></script>
<br/><br/><br/>
<th:block th:replace="layout/footer"></th:block>